doctype html
html
  head
    title Jiggy Articles
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
  body
  .container
    nav
      a.navbar-brand(href='/') Jiggy Articles
        ul
            li.nav-item
                    a(href='/') Home  
            
            if user
              li.nav-item
                    a(href='/articles/add') Add articles
            
            if user
                 li 
                    a(href='/users/logout') Logout
            else
                li.nav-item
                        a(href='/users/register') Register
                
                li.nav-item
                        a(href='/users/login') Login
        .container
          !=messages("message.pug" , locals )
          block content
          
          hr
          footer
            p Copyright &copy; 2017
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script( src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  script(src="/js/main.js")