<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fancy form</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/e9c92827ca.js"></script>
</head>
<body>
    <div id="container">
        <h1 class="logo">Fancy Form</h1>
        <div id="form-box">
            <i id="prev-btn" class="fas fa-arrow-left"></i>
            <i id="next-btn" class="fas fa-arrow-right"></i>
            <div id="input-group">
                <!--Use required make input anadtory-->
               <input  id="input-field" required>
               <label id="input-label">Enter your first name</label>
               <div id="input-progress"></div>
            </div>
            <div id="progress-bar"></div>
        </div>
    </div>
    <script src="./JS/main.js"></script>
</body>
</html>