<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlexBox Website|About</title>
    <link rel="stylesheet" href="./css/style.css">
    <!--To use FlexBox Grid-->
    <link rel="stylesheet" href="./node_modules/flexboxgrid/css/flexboxgrid.css" type="text/css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/fontawesome.css">
</head>
<body>
    <!--Header-->
    <header id="mainheader">
        <div class="container">
                <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <h1> <span class="primary-text">Photo</span> Design </h1> 
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                    <nav id="navbar">
                        <ul>
                            <li ><a href="index.html">HOME</a></li>
                            <li class="current"><a href="about.html">ABOUT</a></li>
                            <li><a href="services.html">SERVICES</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!--Sub header-->
    <section id="subheader"></section>
    <div class="row">
        <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>About us</h1>
        </div>
    </div>
    </div>

    <!--Main page-->
    <secion id="page" class="about">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg  middle-xs middle-sm middle-md middle-lg" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h2><span class="primary-text">Who</span> We Are</h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit nostrum cumque unde exercitationem ex illum blanditiis cum numquam distinctio asperiores, nihil tempore quidem officiis inventore facilis obcaecati, natus molestiae voluptates ullam, recusandae voluptatem ducimus. Maiores, vitae autem temporibus aliquid dolorum aspernatur perspiciatis deserunt soluta quo tempora amet praesentium aliquam ex libero. Autem voluptatem culpa aliquam? Quam iusto libero ipsa iste sequi tempora nesciunt reprehenderit quod repellendus corrupti. Exercitationem iste perspiciatis enim in id adipisci praesentium minus aut, repudiandae recusandae debitis fuga soluta maiores asperiores autem quidem! Aut minima tempora doloribus voluptatibus dolorum reprehenderit! Repellat cumque natus nisi fugiat sed et.
                  </p>
                  <hr>
                  <hr>
                  <hr>
                  <h2><span class="primary-text">What</span> We Do</h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit nostrum cumque unde exercitationem ex illum blanditiis cum numquam distinctio asperiores, nihil tempore quidem officiis inventore facilis obcaecati, natus molestiae voluptates ullam, recusandae voluptatem ducimus. Maiores, vitae autem temporibus aliquid dolorum aspernatur perspiciatis deserunt soluta quo tempora amet praesentium aliquam ex libero. Autem voluptatem culpa aliquam? Quam iusto libero ipsa iste sequi tempora nesciunt reprehenderit quod repellendus corrupti. Exercitationem iste perspiciatis enim in id adipisci praesentium minus aut, repudiandae recusandae debitis fuga soluta maiores asperiores autem quidem! Aut minima tempora doloribus voluptatibus dolorum reprehenderit! Repellat cumque natus nisi fugiat sed et.
                  </p>
                </div>
            </div>
        </div>
    </secion>


    <!--Company-->

    <section id="company">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h4>Contact us</h4>
                <ul>
                    <li><i class="fa fa-phone"></i>61814827952</li>
                    <li><i class="fa fa-envelope"></i>ouremail@email.com</li>
                    <li><i class="fa fa-map"></i>123 at denver street</li>
                </ul>
            </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h4>About us</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt veritatis eos, sint odit quod neque distinctio. Dicta ipsa inventore molestiae cupiditate corporis velit ipsam recusandae.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h4>Newsletter</h4>
                    <ul>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quo animi iusto! Placeat, similique est repellendus rerum hic, a esse doloribus</p>
                        <form >
                            <input type="text" name="email" placeholder="Enter email">
                            <button type="submit" name="button">submit</button>
                        </form>
                </div>
        </div>
    </section>

    <!--Footer -->
    <footer id="main-footer">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>
                        Copyright &copy 2017 | Photo Design
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>