<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlexBox Website</title>
    <link rel="stylesheet" href="./css/style.css">
    <!--To use FlexBox Grid-->
    <link rel="stylesheet" href="./node_modules/flexboxgrid/css/flexboxgrid.css" type="text/css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/fontawesome.css">
</head>
<body>
    <!--Header-->
    <header id="mainheader">
        <div class="container">
            <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                   <h1> <span class="primary-text">Photo</span> Design </h1> 
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                    <nav id="navbar">
                        <ul>
                            <li class="current"><a href="index.html">HOME</a></li>
                            <li><a href="about.html">ABOUT</a></li>
                            <li><a href="services.html">SERVICES</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!--Showcase-->
    <section id="showcase">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm  middle-md  middle-lg">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7 showcase-content">
                    <h1> Welcome to <span class="primary-text"> Photo Design</span></h1>
                    <p>
                        A template built with HTML5 CSS3 & FlexBoxGrid
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--Features This is an exxmple of nesting grids the whole area is 12 columns
    then inside we will have 2 rows of 3 4 column divs-->
    <section id="features"> 
        <div class="container">
            <div class="row row center-xs center-sm center-md center-lg middle-xs middle-sm  middle-md  middle-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Core Offerings</h2>
                    <p>What's included</p>
                        <!--Icon row 1-->
                        <!--Alignment in the row-->
                        <div class="row center-xs center-md center-lg">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <i class="fas fa-angle-double-down"></i><br>
                                <h4>Fully Optimised</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, excepturi.</p>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <i class="fas fa-anchor"></i></i><br>
                                <h4>Fully Optimised</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, excepturi.</p>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <i class="fa fa-ankh"></i><br>
                                <h4>Fully Optimised</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, excepturi.</p>
                            </div>
                        </div>
                     </div>
                </div>
                <!--Icon row 2-->
                <div class="row center-xs center-md center-lg">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <i class="fa fa-box"></i><br>
                            <h4>Fully Optimised</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, excepturi.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <i class="fa fa-users"></i><br>
                            <h4>Fully Optimised</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, excepturi.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <i class="fa fa-plug"></i><br>
                            <h4>Fully Optimised</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, excepturi.</p>
                        </div>
                    </div>
                        
    </section>


    <!--Info Section-->
    <section id="info">
        <div class="container">
            <div class="row center-xs  center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="./img/iphone.png">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2>Core Features</h2>
                    <ul>
                        <li><i class="fa fa-check"></i>Fully optimized</li>
                        <li><i class="fa fa-check"></i>Free support</li>
                        <li><i class="fa fa-check"></i>Free upgrade</li>
                        <li><i class="fa fa-check"></i>life time guarantee</li>
                        <li><i class="fa fa-check"></i>Multiple Users</li>
                        <li><i class="fa fa-check"></i>Plug & play</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!--Company-->

    <section id="company">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h4>Contact us</h4>
                <ul>
                    <li><i class="fa fa-phone"></i>61814827952</li>
                    <li><i class="fa fa-envelope"></i>ouremail@email.com</li>
                    <li><i class="fa fa-map"></i>123 at denver street</li>
                </ul>
            </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h4>About us</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt veritatis eos, sint odit quod neque distinctio. Dicta ipsa inventore molestiae cupiditate corporis velit ipsam recusandae.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h4>Newslette</h4>
                    <ul>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quo animi iusto! Placeat, similique est repellendus rerum hic, a esse doloribus</p>
                        <form >
                            <input type="text" name="email" placeholder="Enter email">
                            <button type="submit" name="button">submit</button>
                        </form>
                </div>
        </div>
    </section>

    <!--Footer -->
    <footer id="main-footer">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>
                        Copyright &copy 2017 | Photo Design
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>