<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smooth Scroll PAGE</title>
    <link rel="stylesheet" href="./atyle.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Service">Services</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
        </nav>

        <section id="Home">
            <h1>Welcome to my site</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis expedita alias nostrum eaque dolor sunt!
            </p>
        </section>
        <section id="About">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis expedita alias nostrum eaque dolor sunt!
            </p>
        </section>
        <section id="Service">
            <h1>Service</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis expedita alias nostrum eaque dolor sunt!
            </p>
        </section>
        <section id="Contact">
            <h1>Contact</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis expedita alias nostrum eaque dolor sunt!
            </p>
        </section>
    </div>
    <script
    src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="./main.js"></script>
</body>
</html>