<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JIGGY PHOTOGRAPHY</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lato&display=swap" rel="stylesheet">
</head>

<body>
    <!--Surround everything but the footer in a main tag
    This is a HTML semantic tag and used to keep your main information-->
    <main>
        <div id="landing">
            <div id="landingtext">
                <div id="landing-test-inner">
                    <h1>JIGGY PHOTOGRAPHY</h1>
                    <h2>Modern,Trendy,Stylish</h2>
                    <!--The link is not a but it is styled to look like button with css
                    The link it points to is the element that has the ID of images the ID is
                    added so we can grab it with JQuery Later on-->
                    <a href="#images" class="btn" id="view-work">View Work</a>

                </div>
            </div>
            <div id="landingimage">
            </div>
        </div>
        <div id="images">
            <div id="header">
                <h2>Our Work</h2>
            </div>
            <!--Imgaes taken from source.unsplash.com-->
            <img src="https://source.unsplash.com/1600x900/?nature,water" >
            <div class="caption">
                <h3>Photo One</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit vero eligendi exercitationem, obcaecati id nostrum ipsum excepturi! Consequuntur, et in, maxime possimus repudiandae non nemo mollitia voluptate quam illo debitis.
                </p>
            </div>
            <img src="https://source.unsplash.com/1600x900/?nature,flowers" >
            <div class="caption">
                <h3>Photo Two</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit vero eligendi exercitationem, obcaecati id nostrum ipsum excepturi! Consequuntur, et in, maxime possimus repudiandae non nemo mollitia voluptate quam illo debitis.
                </p>
            </div>
            <img src="https://source.unsplash.com/1600x900/?nature,dogs" >
            <div class="caption">
                <h3>Photo Three</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit vero eligendi exercitationem, obcaecati id nostrum ipsum excepturi! Consequuntur, et in, maxime possimus repudiandae non nemo mollitia voluptate quam illo debitis.
                </p>
            </div>
            <img src="https://source.unsplash.com/1600x900/?nature,fish" >
            <div class="caption">
                <h3>Photo Four</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit vero eligendi exercitationem, obcaecati id nostrum ipsum excepturi! Consequuntur, et in, maxime possimus repudiandae non nemo mollitia voluptate quam illo debitis.
                </p>
            </div>
            <img src="https://source.unsplash.com/1600x900/?fire" >
            <div class="caption">
                <h3>Photo Five</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit vero eligendi exercitationem, obcaecati id nostrum ipsum excepturi! Consequuntur, et in, maxime possimus repudiandae non nemo mollitia voluptate quam illo debitis.
                </p>
            </div>
            <img src="https://source.unsplash.com/1600x900/?books" >
            <div class="caption">
                <h3>Photo Six</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit vero eligendi exercitationem, obcaecati id nostrum ipsum excepturi! Consequuntur, et in, maxime possimus repudiandae non nemo mollitia voluptate quam illo debitis.
                </p>
            </div>
        </div>
    </main>
    <!--Footer -->
    <footer>
        <h3>
            Get in Touch
        </h3>
        <p>
            Email or call us to set up a consult
        </p>
        <p>Email: <strong>Contact@JiggyPics.com</strong></p>
        <p>Phone: <strong>018654783</strong></p>
    </footer>

<script
  src="http://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
  </script>

   <script src="./JS/Main.js"></script>
</body>

</html>