@import url("https://fonts.googleapis.com/css?family=Dosis");
body {
  background: lightgreen;
  font-family: 'Dosis' , cursive;
  margin: 0;
}

h1.logo {
  color: white;
  font-family: 'dosis';
  font-size: 4em;
}

h1.end {
  position: relative;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

#container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-box {
  background: white;
  position: relative;
  width: 600px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.265);
          box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.265);
  /*Transition wil be changed with javascript*/
  -webkit-transition: -webkit-transform 0.1 ease-in-out;
  transition: -webkit-transform 0.1 ease-in-out;
  transition: transform 0.1 ease-in-out;
  transition: transform 0.1 ease-in-out, -webkit-transform 0.1 ease-in-out;
}

/*called through javascript*/
#form-box.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.265);
          box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.265);
}

#next-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: lightgreen;
  float: right;
  cursor: pointer;
  z-index: 2;
}

#next-btn:hover {
  color: #1ec71e;
}

#prev-btn {
  position: absolute;
  font-size: 18px;
  left: 30px;
  top: 12px;
  z-index: 2;
  color: grey;
  float: right;
  cursor: pointer;
}

#prev-btn:hover {
  color: #1ec71e;
}

#input-group {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  /*Once the input is valid it makes the label transition beside the arrow*/
}

#input-group input {
  position: relative;
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#input-group #input-label {
  position: absolute;
  pointer-events: none;
  top: 32px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#input-group input:valid + #input-label {
  top: 6px;
  left: 42px;
  margin-left: 0 !important;
  font-size: 11px;
  font-weight: normal;
  color: grey;
}

#input-progress {
  border-bottom: 3px solid lightgreen;
  /*This is set to 0 as we want js to chnage the width to 100%*/
  width: 0;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#progress-bar {
  position: absolute;
  background: #1ec71e;
  height: 10px;
  /*This is set to 0 as we want js to chnage the width to 100%*/
  width: 0;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.close #next-btn, .close #prev-btn {
  color: white;
}

.error #input-progress {
  border-color: coral;
}

.error #next-btn {
  color: coral;
}

@media (max-width: 600px) {
  #form-box {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */