<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Accordian</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <header>
        <h1>Follow me on social Media</h1>
        </header>
        <!--Each tab is a list item with a class of tag and the general box is a ul with the class of accoridian-->
        <ul class="accordian">

            <li class="tab">
                <!--We want two divs one withe the social platform-->
                <div class="social youtube">
                    <!--We add a target to get it to add on a separate tag 
                    We will use the before and after psuedo elements from css3
                    they are used to add content through css-->
                    <a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA" target="_blank_">Youtube</a>
                </div>
                <!--This div is where the header and paragraph will go-->
                <div class="content">
                    <H1>Youtube</H1>
                    <p>
                        Follow me on youtube Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea accusantium reprehenderit nihil!
                    </p>
                </div>
            </li>
            <li class="tab">
                    <div class="social twitter">
                      <a href="https://twitter.com/traversymedia" target="_blank">Twitter</a>
                    </div>
                    <div class="content">
                      <h1>Twitter</h1>
                      <p>Follow me on Twitter for video and course updates, article & blog shares and more</p>
                    </div>
                  </li>
                  <li class="tab">
                    <div class="social facebook">
                      <a href="https://facebook.com/traversymedia" target="_blank">Facebook</a>
                    </div>
                    <div class="content">
                      <h1>Facebook</h1>
                      <p>Follow me on Facebook to stay up to date with Traversy Media and get notified of new videos, publications, etc</p>
                    </div>
                  </li>
                  <li class="tab">
                    <div class="social linkedin">
                      <a href="https://www.linkedin.com/in/bradtraversy" target="_blank">LinkedIn</a>
                    </div>
                    <div class="content">
                      <h1>LinkedIn</h1>
                      <p>Connect with me on a professional level on Linkedin</p>
                    </div>
                  </li>
                  <li class="tab">
                    <div class="social instagram">
                      <a href="http://instagram.com/traversymedia" target="_blank">Instagram</a>
                    </div>
                    <div class="content">
                      <h1>Instagram</h1>
                      <p>Follow me on Instragram for a more personal look into my life and work</p>
                    </div>
                  </li>
                  <li class="tab">
                    <div class="social github">
                      <a href="http://github.com/bradtraversy" target="_blank">Github</a>
                    </div>
                    <div class="content">
                      <h1>Github</h1>
                      <p>Check out my Github for tutorial code, my personal projects and more</p>
                    </div>
                  </li>
                </ul>
              </div>

        </ul>
    </div>
</body>
</html>