.heading1
{
    text-align: center;
    margin-top: -1em;
}

.block1
{
    
    /* margin-left: 15px; */
    height:400px
}

.block2
{
    text-align: center;
 
    height:400px;
    
}

.block3
{
   text-align: center;
   margin-left: 15px;
    margin-top: 40px;
    align-content: stretch;
 

}

/* button{
    margin-left: 0.5em;
} */

.block4
{
    background-color: aliceblue;
 
}

.addExcercise
{
    text-align: center;
    width: 100%
}

.addExcercise label
{
   font-weight: bold;
   color: #D976ED;
}

.modalHeader
{
    text-align: center;
}

.cardHeight
{
    height: 230px;
}

.info-title
{
    color: #D976ED;
}
