<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        body,
        html, 
        .body {
          background: #f3f3f3 !important;
        }
      
        .container.header {
          background: #f3f3f3;
        }
      

      </style>
</head>
<body>
    <spacer size="16"></spacer>



<container class="body-drip">

  <spacer size="16"></spacer>



  <spacer size="16"></spacer>

  <row>
    <columns>
    <center>
      <h4 class="text-center">Welcome To PONC</h4>
      <p class="text-center">Verify Your account</p>
    </center>
    </columns>
  </row>

  <hr/>

  <row>
    <columns>
    <center>
      <p class="text-center">Hey you! Thanks for signing up to Ponc, To Start your journey with us click on the button below in order to verify your account. Once you have clicked on the button return to our website and click Login</p>
    </center>  
      <center>
        <button href="#" class="success">Verify</button>
      </center>
    </columns>
  </row>

  <row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <p class="text-center">Contact us at:<br/>
      <a href="#">tomiiloriponc@Gmail.com</a></p>
      <center>
        <menu>

        </menu>
      </center>
    </columns>
  </row>

</container>
</body>
</html>