<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e9c92827ca.js"></script>
    
    <title>AutoComplete App</title>
</head>
<body>
    
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="text-center mb-3">
                <h3>
                    <i class="fas fa-flag-usa"></i>
                Find a State
            </h3>
            <div class="form-group">
                <input type="text" class="form-control form-conrol-lg" id="search" placeholder="Enter state name or abbrevaiation.....">
            </div>
            <div id="match-list">

            </div>
            </div>
        </div>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>