body{
    font-family: 'Lato', sans-serif;
    font-family: 'EB Garamond', serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 0;
    margin:0;
    background: white;
}

/*Global container settings*/
.container
{
    width: 80%;
    overflow: hidden;
    margin: auto ;

}

ul
{
    margin: 0;
    padding: 0;
}

.dark
{
    padding: 15px;
    background:  rgba(82, 72, 72, 0.87) ;
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;

}

header{
    background: rgba(82, 72, 72, 0.87);
    color:black;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: lightskyblue 3px solid
}

.btn1
{
    height: 38px;
    background : lightskyblue;
    border:none;
    padding-left:20px;
    padding-right:20px;
    color: white
}

/*Header Links*/
header a
{
color:lightskyblue;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}

/*Header List*/


/*List Items*/
header li
{
    display: inline;
    float:left;
    padding:0 20px 20px 0 ;
}

header #branding
{
    float: left;
}

header #branding h1
{
    margin: 0;
}

header nav
{
    float: right;
    margin-top: 10px;
}

/*Used to highlight certain text pieces*/
header .highlight , header .current a
{
    color:white;
    font-weight: bold;
}

header a:hover
{
    color:lightgreen;
    font-weight: bold
}

/*SHowcase*/
#showcase
{
    min-height: 400px;
    background:url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color:White;

}

#showcase h1
{
    margin-top:100px;
    font-size:30px;
    margin-bottom: 10px;
    

}

#showcase p 
{
    font-size: 20px
}

/*Newsletter*/
#newsletter
{
    padding: 15px;
    background:  rgba(82, 72, 72, 0.87)
    
}

#newsletter form
{
    float: right;
    margin-top: 20px 
}

#newsletter h1
{
    float: left;
    color: white
    
}

#newsletter input[type = 'email']
{
    padding: 4px;
    height:25px;
    width:250px;
}

/*Boxes*/
#boxes
{
    margin-top:20px
}

#boxes .box
{
    float: left;
    width: 30%;
    padding:10px;
    align:center;

}

#boxes .box img
{
    width: 90px
}


footer
{
    margin-top: 20px;
    padding:20px;
    text-align: center;
    background:  rgba(82, 72, 72, 0.87);
    color: white

}

/*About Page*/

/*side bar*/
aside#side-bar
{
    float: right;
    margin-top: 10px;
    width:30%
}

/*main column*/
article#main-col
{
    float: left;
    width:65%
}

ul#services li{
    list-style: none;
    padding:20px;
    border : rgba(82, 72, 72, 0.87);
    margin-bottom: 5px;
    background: lightgray;
}

aside#sidbar .quote input , aside#sidbar .quote textarea
{
    width: 90%;
    padding: 5px;
}

/*Media Query*/
@media(max-width:760px)
{
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#side-bar
    {
        float:none;
        text-align: center;
        width:100%
    }
}

header
{
    padding-bottom: 20px
}

#showcase h1
{
    margin-top: 40px;
}

#newsletter button , .quote button
{
    display:block;
    width:100%

}

#newsletter form input[type='email']
{
    width: 100%;
    margin-bottom:5px;
}
