<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google maps</title>

<style>

#map
{
    height: 400px;
    width: 100%
}



</style>


</head>
<body>

<!--We must use this div which is used to place the map-->
<h1>My Google Map</h1>
<div id="map">

</div>


    <script>
    //The google link tries to load a function called initmap which we must create
    function initMap()
    {
        //We must create a new google map object to get the map
        //This takes two parameters the id where we place the map
        //and the options  e.g zoom , center etc
       
       //variable for the options of the map
        var option=
        {
            zoom:8,
            //Location
            center:{lat:53.3498 , lng:-6.2603}
            
        }

        //Map opbject
        var map = new google.maps.Map(document.getElementById('map') , option)

        //add marker through click
        google.maps.event.addListener(map , 'click' ,function(event)
        {
            addMarker({coords:event.latLng})
        })
       

        /*
        //Add a marker,
        var marker = new google.maps.Marker(
            {
                //Position of where we want to place the marker
                position:{lat:53.3531 , lng:-6.2632},
                //The map to which we want to add the marker too
                map:map,
                //Custom marker
                icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            }
        )

        //This will be used for the information window
        //This takes in the object with the content we want
        var infoWindow = new google.maps.InfoWindow(
            {
                content:'<h1>Rotunda Hospital</h1>'
            }
        )

        //we must add a listener to listen for the info window 

        marker.addListener('click', function()
        {
            //The open method can be used to open a window decribing the location
            infoWindow.open(map , marker)
        })
        commented out as this is the long way of adding markers
    */
        //Create an array of markers
        var markers = 
        [
        {
            coords:{lat:53.3531 , lng:-6.2692},
            content:'<h1>Rotunda</h1>'
        },
        {
            coords:{lat:53.331 , lng:-6.292},
            content:'<h1>Rotunda</h1>'
        },
        {
            coords:{lat:53.371 , lng:-6.292},
            content:'<h1>Rotunda</h1>'
        }
        ]

         //Loop through markers 
         for(var i=0; i<markers.length;i++)
        {
            addMarker(markers[i])
        }
    
    //Add marker function for dyamic entry
    function addMarker(props)
    {
         //Add a marker
         var marker = new google.maps.Marker(
            {
                //Position of where we want to place the marker
                position:props.coords,
                //The map to which we want to add the marker too
                map:map,
                //Custom marker
                icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            }
        )

        //Check if conetnt was put in for a specfic location
        if(props.content)
        {
            var infoWindow = new google.maps.InfoWindow(
            {
                content:props.content
            }
        )

        marker.addListener('click', function()
        {
            //The open method can be used to open a window decribing the location
            infoWindow.open(map , marker)
        })
        }
    }


    }
    


    
    </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpT0b6CrTT2_vWJ7MjVNDEZpaS0WJTWWA&callback=initMap">
    
    </script>
</body>
</html>