<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Book List</title>
</head>
<body>
    <div class="container">

    <section id="Header">
        <header id="main-header">
            <h1 class="center-align">
                Add A Book
            </h1>
        </header>
    </ection>


    <section id="fields">
      <div class="row">
          <form class="col s12">
              <label class = "pulse">Book Name</label>
              <div class="row">
                  <div class="input-field col s12 center-align">
                      <input type="text" placeholder = "Enter Book Name..." id="title" style="text-align: center ">
                  </div>
              </div>
              <label>Book Author</label>
              <div class="row">
                  <div class="input-field col s12 center-align">
                      <input type="text" placeholder = "Enter Book Author..." id="" style="text-align: center">
                  </div>
              </div>
              <label>Book ISBN</label>
              <div class="row">
                  <div class="input-field col s12 center-align">
                      <input type="text" placeholder = "Enter Book ISBN..." id="" style="text-align: center">
                  </div>
              </div>
          </form>
      </div>
    </section>


    <section id="table">
        <table>
            <thead ></thead>
                <tr id='Tabletitle'>
                    <td class="center-align">Book Name</td>
                    <td class="center-align">Book Author</td>
                    <td class="center-align">Book ISBN</td>

                </tr>
            </thead>
        </table>
    </section>
</div>
    <script src="main.js"></script>
</body>
</html>