<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <title>Parallax</title>
</head>
<body>
    <div class="pimg1">
         <div class="ptext">
             <span class="border">
                 Parallax Website
             </span>
         </div>
    </div>
<section class="section section-light">
    <h2>Section One</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, dicta. Non dolores necessitatibus corrupti fugit sequi, magnam deserunt hic perspiciatis ex, earum dolorem, laboriosam fuga quod consectetur! Eos id error beatae aut dolore porro distinctio doloribus quidem et commodi, amet quod tempore eum ut nihil possimus vero corporis accusamus libero fuga nulla odio? Obcaecati sit natus laboriosam illum blanditiis qui vitae. A tempora esse iste animi quaerat voluptates nam, reiciendis alias, laudantium, distinctio voluptatibus molestias harum. Dolore iste alias natus quos ducimus praesentium ipsam autem! Ipsum animi esse, laudantium sed, cupiditate illo labore architecto nisi incidunt ullam minima dolores quisquam.
    </p>
</section>

<div class="pimg2">
        <div class="ptext ">
            <span class="border trans">
                Image Two Text
            </span>
        </div>
   </div>
   <section class="section section-dark">
        <h2>Section Two</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, dicta. Non dolores necessitatibus corrupti fugit sequi, magnam deserunt hic perspiciatis ex, earum dolorem, laboriosam fuga quod consectetur! Eos id error beatae aut dolore porro distinctio doloribus quidem et commodi, amet quod tempore eum ut nihil possimus vero corporis accusamus libero fuga nulla odio? Obcaecati sit natus laboriosam illum blanditiis qui vitae. A tempora esse iste animi quaerat voluptates nam, reiciendis alias, laudantium, distinctio voluptatibus molestias harum. Dolore iste alias natus quos ducimus praesentium ipsam autem! Ipsum animi esse, laudantium sed, cupiditate illo labore architecto nisi incidunt ullam minima dolores quisquam.
        </p>
    </section>

    <div class="pimg3">
            <div class="ptext">
                <span class="border trans">
                Image Three Text
                </span>
            </div>
       </div>
       <section class="section section-dark">
            <h2>Section Three</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, dicta. Non dolores necessitatibus corrupti fugit sequi, magnam deserunt hic perspiciatis ex, earum dolorem, laboriosam fuga quod consectetur! Eos id error beatae aut dolore porro distinctio doloribus quidem et commodi, amet quod tempore eum ut nihil possimus vero corporis accusamus libero fuga nulla odio? Obcaecati sit natus laboriosam illum blanditiis qui vitae. A tempora esse iste animi quaerat voluptates nam, reiciendis alias, laudantium, distinctio voluptatibus molestias harum. Dolore iste alias natus quos ducimus praesentium ipsam autem! Ipsum animi esse, laudantium sed, cupiditate illo labore architecto nisi incidunt ullam minima dolores quisquam.
            </p>
        </section>
        <div class="pimg1">
                <div class="ptext">
                    <span class="border">
                        Parallax Website
                    </span>
                </div>
           </div>

</body>
</html>